//
//  Development.xcconfig
//  DinDinAssignment
//
//  Created by Piyush Nishant on 15/07/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PROTOCOL = https
HOST = google.com
BASE_URL = $(PROTOCOL):$()/$()/$(HOST)
END_POINT = $(BASE_URL)
